@import "basic/colors";
@import "basic/screen";

@basicBorder: 1px solid black;

body {

}

h2 {
  color: @berry;
  margin-bottom: 15px;
}

.container-fluid {
  padding: 0;
  margin-top: 45px;
  margin-bottom: 45px;
  border: @basicBorder;
  width: 70%;
}

.row {
  margin: 0;
}

.col-sm-3 {
  border: @basicBorder;
  height: 100px;
  padding: 0;
}

.basicBorder{
  border: @basicBorder;

}

.chat-height {
  height: 600px;
  overflow: hidden;
  display: block;
  padding: 0;
}

.profilePicture {
  height: 64px;
  float: left;
  margin-left: 18px;
  margin-top: 18px;
}

.closedChat {
  border-bottom: 2px solid black;
  display: block;
  width: 100%;
  height: 100px;
}

.user{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  text-align: left;
  color: black;
  text-decoration: none;
}

.user:hover{
  color: @berry;
  text-decoration: underline;
  text-underline: @berry;
  cursor: pointer;
}

.closedChats {
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  width: 10px;
}


.chatInput {
  width: calc(100% - 45px);
  height: 100%;
  outline: none;
  border: none;
  background-color: @neutral;
}

.sendButton {
  outline: none;
  background-color: @neutral;
  border: none;
}

.chatWindow {
  height: 90%;
  width: 100%;
  overflow-y: scroll;
  padding-bottom: 15px;
}

.chatSite {
  background-color: @sky;
}

.inputBorder {
  border: @basicBorder;
  position: relative;
  width: 80%;
  margin-top: 15px;
  margin-left: 10%;
  background-color: @neutral;
}

.profileName {
  font-size: 32px;
  margin-top: 25px;
  margin-left: 100px;
}

.profileNames {
  padding-top: 31px;
  margin-left: 100px;
  font-size: 24px;
}

.bubble-border{
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, .8));
  margin: 10px 10px 20px;
}

.bubble{
  position: relative;
  font-family: sans-serif;
  font-size: 18px;
  line-height: 18px;
  width: 60%;
  background: #fff;
  border-radius: 40px;
  padding: 15px;
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, .8));
}

.take:before{
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  border-left: 24px solid #fff;
  border-right: 12px solid transparent;
  border-top: 12px solid #fff;
  border-bottom: 20px solid transparent;
  left: 32px;
  bottom: -24px;
}

.send:before{
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  border-right: 24px solid #fff;
  border-left: 12px solid transparent;
  border-top: 12px solid #fff;
  border-bottom: 20px solid transparent;
  right: 32px;
  bottom: -24px;
}

.test{
  float: right;
}

.massage{
  margin: 1px;
  word-break: break-word;
}

.massages{
  overflow: hidden;
}

.timestamp {
  float: right;
  font-size: 12px;
  margin: 0;
  z-index: 1;
  position: absolute;
  right: 20px;
  bottom: 1px;
}

@media only screen and (max-width: 768px) {

  .chatSite{
    display: none;
  }

  .activeProfile{
    display: none;
  }
  .col-sm-3{
    width: 100%;
  }

  .container-fluid{
    margin-left: 10px;
    margin-right: 10px;
    width: 95%;
  }

}