@import "basic/colors";

.footerBackground {
  background-color: @carbon;
  width: 100%;
  padding-left: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footerFont {
  color: black;
  text-decoration:none;
}

a:hover {
  color: @berry;
}

.alignRight {
  text-align: right;
}

.footerPageFont {
  color: @berry;
}

.minHeight {
  min-height: 550px;
}