@import "basic/colors";

.header {
  margin: 0 0 10px;
  width: 100%;
  height: 200px;
  background-color: @sky;
}

.navigation {
  position: absolute;
  top: 160px;
  background-color: @carbon;
  width: 100%;
  border: 0.5px solid black;
}

.navigationLinks {
  width: 25%;
  height: 38px;
  border-left: 0.5px solid black;
  text-align: center;
  font-size: 24px;
  color: black;
  outline: none;
  text-underline: none;
  text-decoration: none;
}

.navigationLinks:hover {
  color: @berry;
  text-decoration: underline;
}

.container-fluid{
  border: none;
}