@import "basic/colors";

body {
  background-color: @neutral;
}

.row {
  margin: 20px;
}

.col-sm-3 {
  width: 20%;
}
.col-sm-6 {
  width: 60%;
  border: red;
}
.dropdowns {

}

.body{
  margin-top: 50px;
  margin-bottom: 50px;
}

.navigation{
  margin-left: 0;
  padding: 0;
}

.header{
  padding: 0;
}


/*
.getHobby.active {
  .hobbyListItemSearch {
    height: 200px;
  }
}

getCity.active {
  .cityListItemSearch {
    height: 200px;
  }
}

getAge.active {
  .ageListItemSearch {
    height: 200px;
  }
}
*/