@import "basic/colors";
@import "basic/screen";

.container {
  position: relative;
  top: 215px;

  .row {
    display: inline;

    .col-md-auto .login_window {
      background-color: @sky;
      padding: 30px;
      text-align: center;

      input {
        border: none;
      }

      #loginInput {
        color: @berry;
        background-color: @sky;
      }

      img {
        width: 30px;
      }

      a {
        text-decoration: none;
        color: @berry;
      }
    }
  }
}

.container{
  position: inherit;
  margin-bottom: 200px;
  margin-top: 200px;
}
