@import "basic/colors";

.center {
  text-align: center;
  position: fixed;
}

.btn-color {
  background-color: @sky;
}

.button {
  background-color: @sky;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 180px;
}

.backButton {
  background-color: @berry;
}

.verticalBottom {
  vertical-align: bottom;
  position: absolute; bottom: 10px;
}

.vertical {
  margin: auto;
}

.resize {
  max-height: 100%;
  max-width: 100%;
}

.minHeight {
  min-height: 550px;
}