@import "basic/colors";

h2 {
  text-align: center;
}

.container{
  margin-top: 50px;
}

#aboutUser {
  .form-group,
  .btn-primary {
    margin-bottom: 15px;
  }

  p {
    display: grid;
  }

  input {
    margin-left: 20%;
    margin-right: 20%;
    border: none;
  }
}

#searchPerson {
  text-align: start;
}

ul {
  list-style-type: none;
}

form div {
  .line.active {
    visibility: visible;
    width: 700px;
    height: 700px;
    background-color: @sky;
    text-align: center;
    padding-top: 30px;
  }

  .line {
    visibility: hidden;
    height: 0;
  }
}


.hobbyListItem,
.hobbyListItemSearch {
  display: flex;

  div {
    .first {
      display: block;

      input, img {
        display: none;
      }

      p {
        font-size: x-large;
      }
    }

    div {
      display: flex;
      padding: 5px 30px 5px 0;

      img {
        width: 30px;
        height: 30px;
      }

      input {
        margin-top: 6px;
      }

      p {
        margin: 0;
      }
    }
  }
}

.searchCityList {
  div {
    display: flex;
    padding-left: 11px;

    p {
      padding-left: 2px;
    }

    input {
      margin-top: 6px;
    }
  }
}

[slider] {
  position: relative;
  height: 5px;
  margin: 45px 0 10px 0;
}

[slider] > div {
  position: absolute;
  left: 13px;
  right: 15px;
  height: 5px;
}
[slider] > div > [inverse-left] {
  position: absolute;
  left: 0;
  height: 5px;
  border-radius: 10px;
  background-color: @carbon;
  margin: 0 7px;
}

[slider] > div > [inverse-right] {
  position: absolute;
  right: 0;
  height: 5px;
  border-radius: 10px;
  background-color: @carbon;
  margin: 0 7px;
}


[slider] > div > [range] {
  position: absolute;
  left: 0;
  height: 5px;
  border-radius: 14px;
  background-color: @berry;
}

[slider] > div > [thumb] {
  position: absolute;
  top: -7px;
  z-index: 2;
  height: 20px;
  width: 20px;
  text-align: left;
  margin-left: -11px;
  cursor: pointer;
  box-shadow: 0 3px 8px @carbon;
  background-color: #FFF;
  border-radius: 50%;
  outline: none;
}

[slider] > input[type=range] {
  position: absolute;
  pointer-events: none;
  -webkit-appearance: none;
  z-index: 3;
  height: 14px;
  top: -2px;
  width: 100%;
  opacity: 0;
}

div[slider] > input[type=range]:focus::-webkit-slider-runnable-track {
  background: transparent;
  border: transparent;
}

div[slider] > input[type=range]:focus {
  outline: none;
}

div[slider] > input[type=range]::-webkit-slider-thumb {
  pointer-events: all;
  width: 28px;
  height: 28px;
  border-radius: 0px;
  border: 0 none;
  background: @berry;
  -webkit-appearance: none;
}

div[slider] > input[type=range]::-ms-fill-lower {
  background: transparent;
  border: 0 none;
}

div[slider] > input[type=range]::-ms-fill-upper {
  background: transparent;
  border: 0 none;
}

div[slider] > input[type=range]::-ms-tooltip {
  display: none;
}

[slider] > div > [sign] {
  opacity: 0;
  position: absolute;
  margin-left: -11px;
  top: -39px;
  z-index:3;
  background-color: @berry;
  color: #fff;
  width: 28px;
  height: 28px;
  border-radius: 28px;
  -webkit-border-radius: 28px;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;
}

[slider] > div > [sign]:after {
  position: absolute;
  content: '';
  left: 0;
  border-radius: 16px;
  top: 19px;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-top-width: 16px;
  border-top-style: solid;
  border-top-color: @berry;
}

[slider] > div > [sign] > span {
  font-size: 12px;
  font-weight: 700;
  line-height: 28px;
}

[slider]:hover > div > [sign] {
  opacity: 1;
}