@import "basic/colors";
@import "basic/fonts";
/*
.profilePicture {
  height: 300px;
  float: left;
  margin-left: 18px;
  margin-top: 18px;
}
.rounded-corners (@radius: 300px) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
}

.strong{
  font-size: 150%;
}

.class1{
  width: 200px;
  height: 200px;
}

.center {
  text-align: center;
  position: fixed;
}


.resize{
  heigth: 300px;
}
*/

.heading {
  font-size: 5em;
  text-align: center;
}

.username{
  text-align: center;
}

.description{
  resize: none;
}

.resize{
  height: 300px;
  width: 300px;
  margin: auto;
  display: block;
  margin-top: 25%;
  margin-bottom: 25%;
}

.container-fluid{
  width: 80%;
}

.card-body{
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
}
.hobbie_symbols{
  margin: auto;
  display: block;
}

.hobbie_th{
  width: 25%;
}

.img_hobbie{
  width: 30px;
  height: 30px;
}
