<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div th:fragment="footer">
    <div class="footerBackground">
        <div class="row">
            <div class="col-8">
                <a th:href="@{/Impressum}" class="footerFont">Impressum</a><br>
                <a th:href="@{/Datenschutz}" class="footerFont">Datenschutz</a><br>
            </div>
            <div class="col-2">
                <img src="/images/logo/logo1neu.png" height="90">
            </div>
        </div>
    </div>
</div>
<div th:insert="footer :: footer"></div>
</body>
</html>