<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet/less" type="text/css" href="/style/index.less"/>
    <script src="https://cdn.jsdelivr.net/npm/less@4" ></script>
    <!---->
    <link rel="icon" type="image/png" href="/images/logo/4-removebg-preview.png">
    <title>Title</title>
</head>
<body>
<div th:fragment="header">
<div class="container-fluid header">
    <div class="row navigation">
        <a class="navigationLinks" th:href="@{/profile}">Profil</a>
        <a class="navigationLinks" th:href="@{/homepage}">Entdecken</a>
        <a class="navigationLinks" th:href="@{/matches}">Matches</a>
        <a class="navigationLinks" th:href="@{/chat}">Chat</a>
    </div>
</div>
</div>
</body>
</html>