<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet/less" type="text/css" href="/style/index.less"/>
    <link rel="stylesheet/less" type="text/css" href="/style/homepage.less"/>
    <link rel="stylesheet/less" type="text/css" href="/style/footer.less"/>
    <link rel="stylesheet/less" type="text/css" href="/style/header.less"/>
    <script src="/scripts/newProfile/getSearchHobbyList.js"></script>
    <script src="/scripts/homepageButtons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/less@4"></script>
    <title>Home Page</title>
</head>
<body>

<div th:insert="header :: header"></div>
<div class="container body">
    <form th:action="@{'/homepage/search'}" method="post">
        <div class="dropdowns row">
                <div class="age col-3">
                    <select class="form-select age dropdowns" name="age" id="age" required>
                        <option value="disabled selected hidden">Alter</option>
                        <div th:each="age : ${ages}">
                            <option>
                                <div name="age" th:value="${age}" th:text="${age}"></div>
                            </option>
                        </div>
                    </select>
                </div>

                <div class="city col-3">
                    <select class="form-select city dropdowns" name="city" id="city" required>
                        <option value="disabled selected hidden">Städte</option>
                        <div th:each="city : ${cities}">
                            <option >
                                <div name="city" th:value="${city}" th:text="${city}"></div>
                            </option>
                        </div>
                    </select>
                </div>
            <div class="hobbies col-3">
                <select class="form-select hobby dropdowns" data-mdb-placeholder="Hobbies auswählen" name="hobby"
                        id="hobby"
                        required>
                    <option value="disabled selected hidden">Hobbies</option>
                    <div th:each="hobby : ${hobbies}">
                        <option>
                            <div name="hobby" th:value="${hobby.getName()}" th:text="${hobby.getName()}"></div>
                        </option>

                    </div>
                </select>
                </div>
                <div class="city col-3">
                    <input type="submit" value="suchen" >
                </div>
            </div>
        </div>
    </form>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <form>
                    <button th:href="@{'/homepage/'}" type="submit"><img class="dislike" src="/images/no.png"
                                                                         alt="like icon"
                                                                         width="100" height="100"/></button>
                </form>
            </div>
            <div class="col-sm-6">
                <h1>
                    <div th:text="${profile.getUsername()}" ></div>
                </h1>

                <img class="profilepicture" src="/images/support.png" alt="Profile picture" width="200" height="185"/>
                <div class="profileInfo">
                    <strong> Age: </strong>
                    <div th:text="${profile.getAge()}"></div>
                    <strong> City: </strong>
                    <div th:text="${profile.getCity()}"></div>
                    <strong> Info: </strong>

                    <div th:text="${profile.getDescription()}"></div>

                </div>
            </div>
            <div class="col-sm-3">
                <form th:action="@{'/homepage/like'}" method="post">
                    <input type="hidden" name="userId" th:value="${profile.getId()}">
                    <button th:href="@{'/homepage/'}" type="submit"><img class="like" src="/images/yes.png"
                                                                         alt="like icon"
                                                                         width="100" height="100"/></button>
                </form>
            </div>
        </div>
    </div>
</div>
<div th:insert="footer :: footer"></div>
</body>
</html>