<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet/less" type="text/css" href="/style/index.less"/>
    <link rel="stylesheet/less" type="text/css" href="/style/matches.less"/>
    <link rel="stylesheet/less" type="text/css" href="/style/footer.less"/>
    <link rel="stylesheet/less" type="text/css" href="/style/header.less"/>
    <script src="https://cdn.jsdelivr.net/npm/less@4"></script>
    <!-- <script src=".../scripts/matches.js"></script>-->
    <title>Deine Matches</title>
</head>
<body>
<div th:insert="header :: header"></div>
<!-- Header -->
<div class="mt-3 mb-3">
    <div class="container minHeight">
        <div class="row">
            <h2>Deine Matches</h2>
        </div>
        <div class="row">
            <div class="col">
            </div>
            <div class="btn-group col-sm-4 mt-3 mb-3">
                <a th:href="@{/matches/all}" type="button" class="btn btn-secondary">Alle Kategorien</a>
                <div th:each="category : ${categories}">
                    <a th:href="@{'/matches/' + ${category}}" type="button" class="btn btn-secondary"
                       th:text="${category}"></a>
                </div>
               <!-- <button type="button" class="btn btn-secondary"></button>
                <button type="button" class="btn btn-secondary">Kategorie 3</button>-->
            </div>
            <div class="col">
            </div>

            <div th:if="${errorMessage}">
                <div class="alert alert-danger" role="alert">
                    <p th:text="${errorMessage}"></p>
                </div>
            </div>

            <div th:if="${successMessage}">
                <div class="alert alert-success" role="alert">
                    <p th:text="${successMessage}"></p>
                </div>
            </div>


            <div th:if="${matchesList}">
                <!-- CardBackendverbinfung -->
                <div th:each="match : ${matchesList}">
                    <div class="row">
                        <div class="card mt-3 mb-3">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-3">
                                        <img class="resize" src="/images/action.png" height="200px">
                                    </div>
                                    <div class="col-7">
                                      <!--  <h1 th:text="${match.getOther().getUsername()}"></h1>-->
                                        <div>
                                            <div class="row">
                                                <div class="col-3">
                                                    Username:<br>
                                                    Alter:<br>
                                                    Wohnort:<br>
                                                    Beschreibung:<br>
                                                    Hobbies:
                                                </div>
                                                <div class="col">
                                                    <div th:text="${match.getOther().getUsername()}"></div>
                                                    <div th:text="${match.getOther().getAge()}"></div>
                                                    <div th:text="${match.getOther().getCity()}"></div>
                                                    <div th:text="${match.getOther().getDescription()}"></div>

                                                    <div class="row">
                                                        <div th:each="hobby : ${match.getOther().getHobbies()}">
                                                            <img data-toggle="tooltip" data-placement="top"
                                                                 th:title="${hobby.getName()}" th:src="@{${'/images/' + hobby.getImgName() + '.png'}}"
                                                                 height="20px">
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-2 vertical">
                                        <div class="align-items-center">
                                            <a class="button resize" th:href="@{'/chat/' + ${match.getOther().getId()}}">Zum Chat</a>
                                            <a class="button resize" th:href="@{'/matchDetails/' + ${match.getId()}}">Details anzeigen</a>
                                            <form th:action="@{/matches/delete}" method="post">
                                                <input type="hidden" name="id" th:value="${match.getId()}">
                                                <input type="hidden" name="meId" th:value="${match.getOther().getId()}">
                                                <input type="hidden" name="otherId" th:value="${match.getMe().getId()}">
                                                <input type="submit" value="Match auflösen" class="button resize"></input>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div th:unless="${matchesList}">
                <div class="card mt-3 mb-3">
                    <div class="card-body">
                        <p>Du hast noch keine Matches!</p>
                        <p>Gib anderen Usern einen Like, um Matches zu erhalten.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<div th:insert="footer :: footer"></div>

</body>
</html>