<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet/less" type="text/css" href="/style/index.less"/>
    <link rel="stylesheet/less" type="text/css" href="/style/matches.less"/>
    <link rel="stylesheet/less" type="text/css" href="/style/footer.less"/>
    <script src="https://cdn.jsdelivr.net/npm/less@4"></script>
    <title>Matches</title>
</head>
<body>
<div class="mt-3 mb-3">
    <div class="container minHeight">
        <h2>Matchdetails</h2>
        <div th:if="${matchUser}">
            <div class="row">
                <div class="card mt-3 mb-3">
                    <div class="card-body">
                        <h3 th:text="${matchUser.getUsername()}"></h3>
                        <div class="row">
                            <div class="col-3">
                                <img class="resize" src="/images/action.png" height="200px">
                            </div>
                            <div class="col-7">
                                <div>
                                    <div class="row">
                                        <div class="col-3">
                                            Alter:<br>
                                            Wohnort:<br>
                                            Beschreibung:<br>
                                            Hobbies:
                                        </div>
                                        <div class="col">
                                            <div th:text="${matchUser.getAge()}"></div>
                                            <div th:text="${matchUser.getCity()}"></div>
                                            <div th:text="${matchUser.getDescription()}"></div>

                                            <div class="row">
                                                <div th:each="hobby : ${matchUser.getHobbies()}">
                                                    <img data-toggle="tooltip" data-placement="top"
                                                         th:title="${hobby.getName()}"
                                                         th:src="@{${'/images/' + hobby.getImgName() + '.png'}}"
                                                         height="20px">
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="mt-5">
                                        <h4>Ich suche...</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div th:unless="${matchUser}">
            <div class="card mt-3 mb-3">
                <div class="card-body">
                    <p th:text="${EntityNotFound}">
                </div>
            </div>
        </div>

        <a class="button resize" th:href="@{'/matches'}">Zurück</a>
    </div>

</div>

    <div th:insert="footer :: footer"></div>
</body>
</html>