<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet/less" type="text/css" href="/style/index.less"/>
    <link rel="stylesheet/less" type="text/css" href="/style/newProfile.less"/>
    <link rel="stylesheet/less" type="text/css" href="/style/header.less"/>
    <link rel="stylesheet/less" type="text/css" href="/style/footer.less"/>
    <script src="https://cdn.jsdelivr.net/npm/less@4"></script>
    <script src="/scripts/newProfile/getHobbyList.js"></script>
    <script src="/scripts/newProfile/getSearchHobbyList.js"></script>
    <script src="/scripts/newProfile/getCity.js"></script>
    <script src="/scripts/newProfile/searchAge.js"></script>
    <script src="/scripts/newProfile/switch.js"></script>
    <script src="/scripts/newProfile/checkedList.js"></script>
    <title>Regestrieren</title>
</head>
<body onload="loadHobbyList()">
<div th:insert="header :: header"></div>
<form th:action="@{/newProfile}" th:object="${user}" method="post">
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="line active" id="1">
                <div id="aboutUser">
                    <h2>Über dich:</h2>
                    <p>Profilbild:</p>
                    <form method="post" th:action="@{/upload}" enctype="multipart/form-data">
                        <div class="form-group">
                            <input type="file" name="file" class="form-control-file">
                        </div>
                        <button type="submit" class="btn btn-primary">Bild hochladen</button>
                    </form>
                    <p>Username: <input type="text" name="username" /></p>
                    <p>Passwort: <input type="text" name="password" /></p>
                    <p>Alter: <input type="text" name="age"/></p>
                    <p>Stadt:
                        <select name ="city">
                            <option th:value="1010" th:text="Bremen"></option>
                            <option th:value="1020" th:text="Berlin"></option>
                            <option th:value="1030" th:text="Hamburg"></option>
                            <option th:value="1040" th:text="München"></option>
                            <option th:value="1050" th:text="Köln"></option>
                            <option th:value="1060" th:text="Frankfurt"></option>
                            <option th:value="1070" th:text="Stuttgart"></option>
                            <option th:value="1080" th:text="Düsseldorf"></option>
                            <option th:value="1090" th:text="Leipzig"></option>
                            <option th:value="1100" th:text="Dortmund"></option>
                            <option th:value="1110" th:text="Essen"></option>
                            <option th:value="1120" th:text="Dresden"></option>
                            <option th:value="1130" th:text="Hannover"></option>
                            <option th:value="1140" th:text="Nürnberg"></option>
                            <option th:value="1150" th:text="Bochum"></option>
                            <option th:value="1160" th:text="Bielefeld"></option>
                            <option th:value="1170" th:text="Bonn"></option>
                            <option th:value="1180" th:text="Münster"></option>
                            <option th:value="1190" th:text="Mannheim"></option>
                            <option th:value="1200" th:text="Karlsruhe"></option>
                       </select>
                    </p>
                    <p>Geschlecht:
                        <select name ="myGender">
                            <option th:value="m" th:text="männlich"></option>
                            <option th:value="f" th:text="weiblich"></option>
                            <option th:value="d" th:text="diverse"></option>
                        </select>
                    </p>
                    <p>Beschreibung: <input type="text" name="description"/></p>
                    <button type="button" onclick="nextPage()">weiter</button>
                </div>
            </div>
            <div class="col"></div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col"></div>
                <div class="line" id="2">
                   <h2>Meine Hobbys:</h2>
                    <div class="hobbyList">
                        <div class="hobbyListItem" onchange="checkedList()"></div>
                        <button type="button" onclick="previewPage()">zurück</button>
                        <button type="button" onclick="nextPage()">weiter</button>
                    </div>
                </div>
                <div class="col"></div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col"></div>
                <div class="line" id="3">
                    <div>
                        <div id="searchPerson">
                            <h2>Ich suche:</h2>
                            <div class="age">
                                <h2>Alter:</h2>
                                <div slider id="slider-distance">
                                    <div>
                                        <div inverse-left style="width:70%;"></div>
                                        <div inverse-right style="width:70%;"></div>
                                        <div range style="left:0%;right:0%;"></div>
                                        <span thumb style="left:0%;"></span>
                                        <span thumb style="left:100%;"></span>
                                        <div sign style="left:0%;">
                                            <span id="value">18</span>
                                        </div>
                                        <div sign style="left:100%;">
                                            <span id="value">100</span>
                                        </div>
                                    </div>
                                    <input name="searchAgeMin" type="range" value="18" max="100" min="18" step="1" oninput="
                                          this.value=Math.min(this.value,this.parentNode.childNodes[5].value-1);
                                          let value = (this.value/parseInt(this.max))*100
                                          var children = this.parentNode.childNodes[1].childNodes;
                                          children[1].style.width=value+'%';
                                          children[5].style.left=value+'%';
                                          children[7].style.left=value+'%';children[11].style.left=value+'%';
                                          children[11].childNodes[1].innerHTML=this.value;"/>
                                    <input name="searchAgeMax" type="range" value="100" max="100" min="0" step="1" oninput="
                                          this.value=Math.max(this.value,this.parentNode.childNodes[3].value-(-1));
                                          let value = (this.value/parseInt(this.max))*100
                                          var children = this.parentNode.childNodes[1].childNodes;
                                          children[3].style.width=(100-value)+'%';
                                          children[5].style.right=(100-value)+'%';
                                          children[9].style.left=value+'%';children[13].style.left=value+'%';
                                          children[13].childNodes[1].innerHTML=this.value;"/>
                                </div>
                                <div id="slider-range"></div>
                            </div>
                            <h2>Stadt:</h2>
                            <div class="searchCityList">
                                <div class="line1"></div>
                                <div class="line2"></div>
                                <div class="line3"></div>
                            </div>
                            <div class="gender">
                                <h2>Geschlecht:</h2>
                                <ul>
                                    <li><input name="gender" value="m" type="checkbox">männlich</li>
                                    <li><input name="gender" value="f" type="checkbox">weiblich</li>
                                    <li><input name="gender" value="d" type="checkbox">diverse</li>
                                </ul>
                            </div>
                        </div>
                        <button type="button" onclick="previewPage()">zurück</button>
                        <button type="button" onclick="nextPage()">weiter</button>
                    </div>
                </div>
                <div class="col"></div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col"></div>
                <div class="line" id="4">
                    <div class="hobbyList">
                        <div class="hobbyListItemSearch">
                        </div>
                        <button type="button" onclick="previewPage()">zurück</button>
                        <a href="#">
                            <button type="submit">Registrierung abschließen</button>
                        </a>
                    </div>
                </div>
                <div class="col"></div>
            </div>
        </div>
    </div>
</form>
<div th:insert="footer :: footer"></div>
</body>
</html>