<!DOCTYPE html>
<html lang="de">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet/less" type="text/css" href="/style/index.less"/>
    <link rel="stylesheet/less" type="text/css" href="/style/profile.less"/>
    <link rel="stylesheet/less" type="text/css" href="/style/footer.less"/>
    <link rel="stylesheet/less" type="text/css" href="/style/header.less"/>
    <script src="https://cdn.jsdelivr.net/npm/less@4"></script>
    <title>Profil</title>
</head>
<body>
<div th:insert="header :: header"></div>
<div class="mt-3 mb-3">
    <div class="container-fluid">
        <div class="row">
            <h2 class="heading">Dein Profil</h2>
        </div>
        <div class="card mt-3 mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-4">
                        <h1 th:text="${UserAufrufen.getUsername()}" class="username"></h1>
                        <!--                                <img class="resize" th:src="@{/static/images/support.png}" height="300px" alt="Profilbild">-->
                        <img class="resize" src="/images/placeholder.jpg">
                    </div>
                    <div class="col-8">
                        <br>
                        <br>
                        <!--   <h1 th:text="${UserAufrufen.getUsername()}" class="username"></h1> -->
                        <div>
                            <form th:action="@{/profile/updateUser}" method="post">
                                <div class="row">
                                    <div class="col-5">
                                        <label for="name">Name: </label><br>
                                        <input type="text" id="name" name="name"
                                               th:placeholder="${UserAufrufen.getUsername()}"
                                               class="form-control"> <br>
                                        <label for="age">Alter: </label><br>
                                        <input type="text" id="age" name="age" th:placeholder="${UserAufrufen.getAge()}"
                                               class="form-control"
                                               disabled> <br>
                                        <label for="city">Wohnort: </label><br><!--v<select name="city" id="city">
                                            <option th:placeholder="${UserAufrufen.getCity()}"></option>
                                        </select> -->
                                        <!-- <input type="text" id="city" name="city"
                                                th:placeholder="${UserAufrufen.getCity()}" class="form-control">
                                         <br>
                                         -->
                                        <select name="city" class="form-control" id="dropDownList">
                                            <!--<option value="0">select option</option> -->
                                            <option th:each="option : ${options}" th:value="${option}"
                                                    th:text="${option}"></option>
                                        </select>
                                        <label for="description">Beschreibung: </label><br>
                                        <textarea id="description" name="description" class="description form-control"
                                                  th:placeholder="${UserAufrufen.getDescription()}"
                                                  rows="10"></textarea>
                                        <br>
                                    </div>
                                    <div class="col-5 hobbie_symbols">
                                        <label>Hobbies: </label>
                                        <table border="0" width="100%" cellspacing="0px">
                                            <div class="form-check">
                                                <div th:each="category: ${categories}">
                                                    <th>
                                                    <input class="form-check-input" type="checkbox" th:value="${{category}}"
                                                           th:id="${category.getName()}" name="hobbies" th:checked="${category.isChecked()}">
                                                    <label class="form-check-label" th:for="${category.getName()}">
                                                        <img th:src="@{${'/images/' + category.getImgName() + '.png'}}" th:title="${category.getName()}"
                                                             class="img_hobbie">
                                                    </label><br>
                                                    </th>
                                                </div>
                                                <tr>
                                                    <!--
                                                    <th class="hobbie_th">
                                                        <input class="form-check-input" type="checkbox" value="1"
                                                               id="gaming" name="hobbies">
                                                        <label class="form-check-label" for="gaming">
                                                            <img src="/images/gaming.png" title="gaming"
                                                                 class="img_hobbie">
                                                        </label><br>
                                                    </th>
                                                    <th class="hobbie_th"></th>
                                                    <th class="hobbie_th">
                                                        <input class="form-check-input" type="checkbox" value="2"
                                                               id="playstation" name="hobbies">
                                                        <label class="form-check-label" for="playstation">
                                                            <img src="/images/playstation.png" title="playstation"
                                                                 class="img_hobbie">
                                                        </label><br>
                                                    </th>
                                                    <th class="hobbie_th">
                                                        <input class="form-check-input" type="checkbox" value=""
                                                               id="computer" name="hobbies">
                                                        <label class="form-check-label" for="computer" title="computer">
                                                            <img src="/images/computer.png" class="img_hobbie">
                                                        </label>
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th></th>
                                                    <th></th>
                                                    <th>
                                                        <input class="form-check-input" type="checkbox" value=""
                                                               id="xbox" name="hobbies">
                                                        <label class="form-check-label" for="xbox" title="xbox">
                                                            <img src="/images/xbox.png" class="img_hobbie">
                                                        </label>
                                                    </th>
                                                    <th>
                                                        <input class="form-check-input" type="checkbox" value=""
                                                               id="switch" name="hobbies">
                                                        <label class="form-check-label" for="switch" title="switch">
                                                            <img src="/images/switch.png" class="img_hobbie">
                                                        </label>
                                                    </th>
                                                </tr>
                                                <th></th>
                                                <th></th>
                                                <th>
                                                    <input class="form-check-input" type="checkbox" value=""
                                                           id="horror" name="hobbies">
                                                    <label class="form-check-label" for="horror">
                                                        <img src="/images/horror.png" title="genre: horror"
                                                             class="img_hobbie">
                                                    </label><br>
                                                </th>
                                                <th>
                                                    <input class="form-check-input" type="checkbox" value=""
                                                           id="ego_shooter" name="hobbies">
                                                    <label class="form-check-label" for="ego_shooter">
                                                        <img src="/images/ego_shooter.png"
                                                             title="genre: ego shooter" class="img_hobbie">
                                                    </label><br>
                                                </th>
                                                </tr>
                                                <tr>
                                                    <th></th>
                                                    <th></th>
                                                    <th>
                                                        <input class="form-check-input" type="checkbox" value=""
                                                               id="jump_and_run" name="hobbies">
                                                        <label class="form-check-label" for="jump_and_run"
                                                               title=" genre: jump and run">
                                                            <img src="/images/jump_and_run.png" class="img_hobbie">
                                                        </label>
                                                    </th>
                                                    <th>
                                                        <input class="form-check-input" type="checkbox" value=""
                                                               id="openWorld" name="hobbies">
                                                        <label class="form-check-label" for="openWorld"
                                                               title=" genre: open World">
                                                            <img src="/images/openWorld.png" class="img_hobbie">
                                                        </label>
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        <br>
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        <input class="form-check-input" type="checkbox" value=""
                                                               id="boardgames" name="hobbies">
                                                        <label class="form-check-label" for="boardgames"
                                                               title="boardgames">
                                                            <img src="/images/boardgames.png" class="img_hobbie">
                                                        </label>
                                                    </th>
                                                    <th>
                                                        <input class="form-check-input" type="checkbox" value=""
                                                               id="sportgames" name="hobbies">
                                                        <label class="form-check-label" for="sportgames"
                                                               title="sportgames">
                                                            <img src="/images/sportgames.png" class="img_hobbie">
                                                        </label>
                                                    </th>
                                                    <th>
                                                        <input class="form-check-input" type="checkbox" value=""
                                                               id="fighting" name="hobbies">
                                                        <label class="form-check-label" for="fighting" title="fighting">
                                                            <img src="/images/fighting.png" class="img_hobbie">
                                                        </label>
                                                    </th>
                                                    <th>
                                                        <input class="form-check-input" type="checkbox" value=""
                                                               id="strategy_game" name="hobbies">
                                                        <label class="form-check-label" for="strategy_game"
                                                               title="strategy_game">
                                                            <img src="/images/strategy_game.png" class="img_hobbie">
                                                        </label>
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        <input class="form-check-input" type="checkbox" value=""
                                                               id="action" name="hobbies">
                                                        <label class="form-check-label" for="action" title="action">
                                                            <img src="/images/action.png" class="img_hobbie">
                                                        </label>
                                                    </th>
                                                    <th>
                                                        <input class="form-check-input" type="checkbox" value=""
                                                               id="role_game" name="hobbies">
                                                        <label class="form-check-label" for="role_game"
                                                               title="role_game">
                                                            <img src="/images/role_game.png" class="img_hobbie">
                                                        </label>
                                                    <th>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        <br>
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        <input class="form-check-input" type="checkbox" value=""
                                                               id="fitness" name="hobbies">
                                                        <label class="form-check-label" for="fitness">
                                                            <img src="/images/fitness.png" title="fitness"
                                                                 class="img_hobbie">
                                                        </label><br>
                                                    </th>
                                                    <th>
                                                        <input class="form-check-input" type="checkbox" value=""
                                                               id="swimming" name="hobbies">
                                                        <label class="form-check-label" for="swimming">
                                                            <img src="/images/swimming.png" title="swimming"
                                                                 class="img_hobbie">
                                                        </label><br>
                                                    </th>
                                                    <th>
                                                        <input class="form-check-input" type="checkbox" value=""
                                                               id="football" name="hobbies">
                                                        <label class="form-check-label" for="football">
                                                            <img src="/images/football.png" title="football"
                                                                 class="img_hobbie">
                                                        </label><br>
                                                    </th>
                                                    <th>
                                                        <input class="form-check-input" type="checkbox" value=""
                                                               id="american_football" name="hobbies">
                                                        <label class="form-check-label" for="american_football">
                                                            <img src="/images/american_football.png"
                                                                 title="american_football" class="img_hobbie">
                                                        </label><br>
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        <input class="form-check-input" type="checkbox" value=""
                                                               id="spinning" name="hobbies">
                                                        <label class="form-check-label" for="spinning">
                                                            <img src="/images/spinning.png" title="spinning"
                                                                 class="img_hobbie">
                                                        </label><br>
                                                    </th>
                                                    <th>
                                                        <input class="form-check-input" type="checkbox" value=""
                                                               id="ice_hockey" name="hobbies">
                                                        <label class="form-check-label" for="ice_hockey">
                                                            <img src="/images/ice_hockey.png" title="ice_hockey"
                                                                 class="img_hobbie">
                                                        </label><br>
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        <br>
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        <input class="form-check-input" type="checkbox" value=""
                                                               id="travelling" name="hobbies">
                                                        <label class="form-check-label" for="travelling">
                                                            <img src="/images/travelling.png" title="travelling"
                                                                 class="img_hobbie">
                                                        </label><br>
                                                    </th>
                                                    <th>
                                                        <input class="form-check-input" type="checkbox" value=""
                                                               id="sleeping" name="hobbies">
                                                        <label class="form-check-label" for="sleeping">
                                                            <img src="/images/sleeping.png" title="sleeping"
                                                                 class="img_hobbie">
                                                        </label><br>
                                                    </th>
                                                    <th>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        <input class="form-check-input" type="checkbox" value=""
                                                               id="sing" name="hobbies">
                                                        <label class="form-check-label" for="sing">
                                                            <img src="/images/sing.png" title="sing" class="img_hobbie">
                                                        </label><br>
                                                    </th>
                                                    <th>
                                                        <input class="form-check-input" type="checkbox" value=""
                                                               id="music" name="hobbies">
                                                        <label class="form-check-label" for="music">
                                                            <img src="/images/music.png" title="music"
                                                                 class="img_hobbie">
                                                        </label><br>
                                                    </th>
                                                    <th>
                                                        <input class="form-check-input" type="checkbox" value=""
                                                               id="camera" name="hobbies">
                                                        <label class="form-check-label" for="camera">
                                                            <img src="/images/camera.png" title="camera"
                                                                 class="img_hobbie">
                                                        </label><br>
                                                    </th>
                                                    <th>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        <input class="form-check-input" type="checkbox" value=""
                                                               id="food_and_wine" name="hobbies">
                                                        <label class="form-check-label" for="food_and_wine">
                                                            <img src="/images/food_and_wine.png" title="food_and_wine"
                                                                 class="img_hobbie">
                                                        </label><br>
                                                    </th>
                                                    <th>
                                                        <input class="form-check-input" type="checkbox" value=""
                                                               id="party" name="hobbies">
                                                        <label class="form-check-label" for="party">
                                                            <img src="/images/party.png" title="party"
                                                                 class="img_hobbie">
                                                        </label><br>
                                                    </th>
                                                    <th>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        <input class="form-check-input" type="checkbox" value=""
                                                               id="diy" name="hobbies">
                                                        <label class="form-check-label" for="diy">
                                                            <img src="/images/diy.png" title="diy" class="img_hobbie">
                                                        </label><br>
                                                    </th>-->
                                                </tr>
                                            </div>
                                        </table>
                                    </div>
                                </div>
                                <input type="submit" value="speichern" class="button"></input>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:insert="footer :: footer"></div>
</body>
</html>


<!--    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="clearfix">
                    &lt;!&ndash; PLATZHALTER BILD EINFÜGEN &ndash;&gt;
                    <img class="rounded-corners" src="https://www.autoanhaengermarkt.de/media/image/e6/82/28/hu43002136_flachplane_farbe_gruen_13Tnx2tU4zsZYi.jpg" alt="Platzhalterbild" width="300px" height="300px"/>
                </div>
                <br/>
                <h2>Username</h2>
                <br/>
                <br/>
                <h3>Ich suche:</h3>
                <p>KRITERIEN AUS SUCHE BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA</p>
            </div>
            <div class="col-8">
                <h3>Userinfo</h3>
                <p>Name: TEST</p>
                <p>Alter: TEST</p>
                <p>Stadt: TEST</p>
                <p>Hobbies: TEST</p>
                <p>Über mich: TEST TEST TEST</p>
            </div>
            <div class=".col-md-3 .ms-md-auto">
                <p>Settings</p>
                <button onclick="">Ändern</button>
                <br/>
                <button onclick="">Profil löschen</button>
            </div>
        </div>
    </div>
            </div>-->

